<section class="about container about-bg" id="about">
    <div class="about-container">
        <h1 class="about-title">About This Game</h1>

        <div class="about-content">
                <img src="../img/about/1.jpg" srcset="../img/about/1.jpg 1x, ../img/about/1@2x.jpg 2x" alt="game characters">
                <p class="about-text">Slash Quest! is a delightful blend of action, storytelling, and light puzzle-solving wrapped in a fairy tale setting. As Shep, a clueless but kind-hearted farmhand, you must wield a sentient sword that grows as you slash enemies and solve puzzles. But longer isn’t always better – learn to control your blade, explore mystical lands, and fulfill a forgotten prophecy before the Queendom falls into chaos!</p>

                <img src="../img/about/2.jpg" srcset="../img/about/2.jpg 1x, ../img/about/2@2x.jpg 2x" alt="game characters 2">
                <p class="about-text">Developed by Noble Power Studios, Slash Quest! delivers a blend of light RPG elements, vibrant visual storytelling, and simple yet clever gameplay that keeps players hooked from the first swing to the last boss.</p>
        </div>
    </div>
</section>