<section class="benefits container benefits-bg" id="benefits">
    <div class="benefits-container">
    <h1 class="benefits-title">Benefits</h1>

    <div class="benefits-content">
       <div>
           <img src="../img/benefits/sword.png" alt="sword">
           <p class="benefits-text">Unique Growing Sword Mechanic – <br class="break"> Your sword literally gets longer as you defeat enemies, turning both into strength and challenge.</p>
       </div>
       <div>
           <img src="../img/benefits/monster.png" alt="monster">
           <p class="benefits-text">Adventure Meets Humor – <br class="break"> Experience a heartwarming and humorous story with adorable characters and witty dialogues.</p>
       </div>
       <div>
           <img src="../img/benefits/arrow_up.png" alt="arrow_up">
           <p class="benefits-text">Accessible Action Gameplay – <br class="break"> Intuitive controls designed for all skill levels with plenty of depth for advanced players.</p>
       </div>
       <div>
           <img src="../img/benefits/warrior.png" alt="warrior">
           <p class="benefits-text">Environmental Puzzles & Challenges – <br class="break"> Navigate rolling fields, winding dungeons, and bizarre puzzles using your sword’s length in creative ways.</p>
       </div>
       <div>
           <img src="../img/benefits/music.png" alt="music">
           <p class="benefits-text">Beautiful Art & Sound – <br class="break"> Vibrant visuals, atmospheric music, and immersive sound design bring this fairy tale world to life.</p>
       </div>
       <div>
           <img src="../img/benefits/coin.png" alt="coin">
           <p class="benefits-text">Progressive Upgrades – <br class="break"> Unlock sword skills, passive boosts, and stylish outfits along your journey.</p>
       </div>
    </div>

    <div class="no_ads">
        <img src="../img/benefits/no_ads.png" alt="no_ads">
        <p class="benefits-text">No Ads or Timers – Pure adventure, uninterrupted.</p>
    </div>
    
    </div>
        <div class="sticky-img">
        <img src="../img/benefits/girl.png" alt="girl">
    </div>
</section>