<footer>
  <div class="container">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="./privacy.html" class="footer-nav-link">Privacy Policy</a>
      </li>
      <li class="footer-nav-item">
        <a href="./terms.html" class="footer-nav-link">Terms & Conditions</a>
      </li>
      <li class="footer-nav-item">
        <a href="./cookies.html" class="footer-nav-link">Cookies Policy</a>
      </li>
    </ul>

    <p class="footer-copyright">
      All Rights Reserved – powernoblequest.com | 2025
    </p>
  </div>
</footer>
