<header class="header">

    <div class="wrapper">
        <a class="logo" href="index.html" onclick='location.reload()'>
            <img src="img/header/icon.png" alt="logo">
        </a>

        <button type="button" class="burger-btn"  data-action="open">
            <svg class="menu-icon" width="44" height="44">
                <use href="img/icons/symbol-defs.svg#icon-menu"> </use>
            </svg>
        </button>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"> <a class="nav-link" href="#benefits">Benefits</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#keys">Feature Keys</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#about">About This Game</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#how-to-play">How to Play</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#faq">FAQ</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#reviews">Reviews</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#gallery">Gallery</a> </li>
            </ul>
        </nav>
    </div>



    <div class="header-bg">
      <div class="container header-box">
        <div class="content">
            <div class="title-box">
               <h1 class="title">Slash Quest</h1>
               <h2 class="moto">Wield the Talking Sword, Rewrite Destiny!</h2>
            </div>

            <div class="text-container">
                <p class="description">Step into a whimsical realm where destiny is sharp, and swords have something to say! Slash Quest! is a quirky and charming action-adventure game where a humble shepherd becomes an unlikely hero thanks to a magical talking sword. Slash, roll, and puzzle your way through colorful lands to bring balance back to the Queendom. <br> <br> <br> Are you ready to master the sword that grows with every swing?</p>
            </div>
            
            <a class="playmarket-btn" href="https://play.google.com/store/apps/details?id=com.biggreenpillow.slashquest&hl=en&gl=us" target="_blank" rel="noopener">
                <img src="img/header/google-btn.png" alt="" >
            </a>
        </div>
      </div>
    
    </div>
</header>

