<section class="how_to_play container how_to_play-bg" id="how-to-play">
    <div class="how_to_play-container">
        <h1 class="how_to_play-title">How to Play</h1>

        <div class="how_to_play-content">
            <p class="how_to_play-text">Pick Up the Sword: Begin your journey as Shep and bond with Swordie, the legendary (and chatty) blade.</p>
            <img src="../img/how to play/1.jpg" srcset="../img/how to play/1.jpg 1x, ../img/how to play/1@2x.jpg 2x" alt="game tutorial">
            <p class="how_to_play-text">Slash to Grow: Defeat enemies to increase your sword’s size – but be careful not to lose control!</p>
            <p class="how_to_play-text">Solve with Swings: Use your sword to activate levers, knock obstacles, and reveal hidden areas.</p>
            <p class="how_to_play-text">Dodge & Roll: Time your rolls to avoid enemy attacks and hazards.</p>
            <img src="../img/how to play/2.jpg" srcset="../img/how to play/1@2x.jpg 1x, ../img/how to play/2@2x.jpg 2x" alt="the Queendom">
            <p class="how_to_play-text">Explore the Queendom: Discover new areas, talk to quirky NPCs, and complete side quests.</p>
            <p class="how_to_play-text">Unlock Power-Ups: Gain passive abilities, blade forms, and costumes that affect gameplay.</p>
            <p class="how_to_play-text">Face Epic Bosses: Slash, solve, and strategize to defeat larger-than-life foes blocking your path.</p>
        </div>
    </div>
</section>