<div class="modal container ">
    <div class="modal-text-box">
    <h3 class="modal-title">This website uses cookies</h3>
    <p class="modal-text">We use cookies to improve your experience on our website. By browsing this website, you agree to our use of cookies.</p>
    </div>
    <div class="modal-btn-box">
    <button class="modal-btn accept-btn" data-action="close">Accept Cookies</button>
    <button class="modal-btn decline-btn" data-action="close">Decline Cookies</button>
    </div>
</div>